{% extends "layout.html" %}

{% block extraheaders %}
{% endblock extraheaders %}

{% block title %}
    CNCD
{% endblock title %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">CNCD</a></li>
  </ol>
</nav>

<section class="jumbotron text-center">
    <div class="container">
        <img src="{{ static('cncd-outline.svg') }}" alt=logo />
        <p class="lead text-muted">
            High voltage device controller.
        </p>
        <div class="btn-group" role="group" aria-label="foo">
            {% for handle, name in devices.items() %}
                <a type="button" class="btn btn-primary" href="{{ url('device', device=handle) }}">{{ name }}</a>
            {% endfor %}
        </div>
    </div>
</section>

  <div class="album">
    <div class="container">

      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<h2>Webcams</h2>

<div class="album">
    <div class="container">
        <div class="row">
{% for handle, camera in webcams.items() %}
    <div class="card" style="width: 18rem;">
            <img src="{{ camera.url }}" height="225" class="card-img-top" alt="Webcam Stream"/>
        <div class="card-body">
            <!--<h5 class="card-title">{{ handle }}</h5>-->
            <p class="card-text">Webcam {{ camera.name }}.</p>
            <a href="{{ camera.url }}" class="btn btn-primary">Open Stream</a>
            <small class="text-muted">{{ handle }}</small>
        </div>
    </div>
{% endfor %}
        </div>
    </div>
</div>


<h2>Actions</h2>

{% for action in actions %}
    <p> {{ action.command }} - {{ action.long }} - {{ action.short }} </p>
{% endfor %}


{% endblock body %}
