# get this information with
# lsusb
# udevadm info -a -n /dev/ttyACM0
# cp <this file> /etc/udev/rules.d/99-usb-serial.rules
SUBSYSTEM=="tty", ATTRS{serial}=="CZPX2017X003XK19721", ATTRS{product}=="Original Prusa i3 MK2", SYMLINK+="ttyPrusaMK2"

