## Copy this file to /etc/systemd/system/

[Unit]
Description=Computer Numerical Control Daemon

[Service]
ExecStart=/home/cnc/cncd/cncd.py
## never ever run as root!
User=cnc
Group=cnc
## We need systemd to create /var/run/cncd/ for us
RuntimeDirectory=cncd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target

