{% extends "layout.html" %}

{% block extraheaders %}

    <script type = "text/javascript">
        // show message in div#subscribe
        function showMessage(message) {
            var messageElem = $('#subscribe');
            messageElem.prepend($('<div class="alert alert-success" role="alert">').html(message));

            var info = JSON.parse(message).info;
            var infoelem = $('ul#info');
            for (var key in info) {
                var value = info[key];
                infoelem.prepend($('<li>').html(key + "  " + value));
            }
        }

        function WebSocketConnect() {
            if (!("WebSocket" in window)) return;
            var sock = new WebSocket("ws://" + window.location.host + "{{ url('ws', device=device) }}");

            sock.onopen = function() {
                sock.send("Message to send");
            };

            sock.onmessage = function(evt) {
                var msg = evt.data;
                showMessage(msg);
            };

            sock.onclose = function() {
                var elem = $('#connection_lost');
                elem.append($('<div role="alert" class="alert alert-danger">').html(
                    "Connection to server lost. Please reload this page."
                ));
            };
            return sock;
        }

        function ready() {
            var sock = WebSocketConnect()
            $('#connect').on('click', function(event) { sock.send("connect"); });
            $('#disconnect').on('click', function(event) { sock.send("disconnect"); });
            $('#start').on('click', function(event) { sock.send("start"); });
            $('#stop').on('click', function(event) { sock.send("stop"); });
            $('#abort').on('click', function(event) { sock.send("abort"); });
            $('#pause').on('click', function(event) { sock.send("pause"); });
            $('#resume').on('click', function(event) { sock.send("resume"); });
        }
        $(document).ready(ready);
      </script>

{% endblock extraheaders %}



{% block title %}
    {{ devices[device] }}
{% endblock title %}



{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">CNCD</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ devices[device] }}</li>
  </ol>
</nav>


<div id="connection_lost"></div>

<h1> {{ devices[device] }} </h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ devices[device] }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for handle, name in devices.items() %}
        <a class="dropdown-item" href="{{ url('device', device=handle) }}">{{ name }}</a>
    {% endfor %}
  </div>
</div>


<div class="btn-group" role="group" aria-label="foo">
    <button id="connect" type="button" class="btn btn-primary">Connect</button>
    <button id="disconnect" type="button" class="btn btn-danger">Disconnect</button>
    <button id="start" type="button" class="btn btn-primary">Start</button>
    <button id="stop" type="button" class="btn btn-warning">Stop</button>
    <button id="abort" type="button" class="btn btn-warning">Abort</button>
    <button id="pause" type="button" class="btn btn-primary">Pause</button>
    <button id="resume" type="button" class="btn btn-primary">Resume</button>
</div>

<ul id="info">
</ul>

<!--Messages-->
<div id="subscribe"> </div>




{% endblock body %}

