{% extends "layout.html" %}

{% block extraheaders %}
{% endblock extraheaders %}

{% block title %}
    CNCD
{% endblock title %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">CNCD</a></li>
  </ol>
</nav>

<div class="btn-group" role="group" aria-label="foo">
    {% for handle, name in devices.items() %}
        <a type="button" class="btn btn-primary" href="{{ url('device', device=handle) }}">{{ name }}</a>
    {% endfor %}
</div>

<img src="{{ static('cncd.svg') }}" alt=logo />




<h2>Webcams</h2>

{% for handle, camera in webcams.items() %}
    <div class="card" style="width: 18rem;">
      <img src="{{ camera.url }}" class="card-img-top" alt="Webcam Stream">
      <div class="card-body">
        <h5 class="card-title">{{ handle }}</h5>
        <p class="card-text">Webcam {{ camera.name }}.</p>
        <a href="{{ camera.url }}" class="btn btn-primary">Open Stream</a>
      </div>
    </div>
{% endfor %}


<h2>Actions</h2>

{% for action in actions %}
    <p> {{ action.command }} - {{ action.long }} - {{ action.short }} </p>
{% endfor %}


{% endblock body %}
