{% extends "layout.html" %}

{% block body %}

<h1>CNCD Web Frontend</h1>

<img src="{{ static('cncd.svg') }}" alt=logo />

<h2>Devices</h2>

<ul>
    {% for handle, name in devices.items() %}
    <li>
        <a href="{{ url('device', device=handle) }}">{{ name }}</a>
    </li>
    {% endfor %}
</ul>


<h2>Webcams</h2>

<ul>
    {% for handle, camera in webcams.items() %}
    <li>
        <a href="{{ camera.url }}">{{ camera.name }}</a>
        <video controls>
            <source src="{{ camera.url }}">
        </video>
    </li>
    {% endfor %}
</ul>


<h2>Actions</h2>

{% for action in actions %}
    <p> {{ action.command }} - {{ action.long }} - {{ action.short }} </p>
{% endfor %}


{% endblock body %}
